@import '@/globals';

.headerWrapper {
  position: relative;
  z-index: 2;

  box-sizing: border-box;
  height: $header-height;
  padding: 1rem 0 1rem $common-margin;
  display: flex;
  align-items: center;

  @include largesize {
    justify-content: center;
    padding: 3vh 0;
  }
}

.logoLink {
  max-width: 50%;
  max-height: 100%;
  display: block;
}

.logo {
  max-height: 100%;
  max-width: 100%;
}