@import '@/globals';

.headerWrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;

  height: $header-height;
  padding: 1rem 0 1rem 5vw;
  display: flex;
  align-items: center;

  background: $body-color;

  @include largesize {
    justify-content: center;
    padding: 3vh 0;
  }
}

.logoLink {
  max-width: 50%;
}

.logo {
  max-height: 100%;
  max-width: 100%;
}