@import '@/globals';

.featuredImageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.featuredImageInner {
  position: relative;
}

.featuredImage {
  display: block;
  max-width: 100%;
  max-height: $content-height;
  border-radius: 0 0 $large-rounding 0;

  @include xlsize {
    max-height: calc($content-height - 4rem);
  }
}

.hidden {
  opacity: 0;
}

.brandMark {
  position: absolute;
  bottom: 5%;
  right: 5%;
  max-width: 25%;
}

.spinnerWrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $body-color;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .3s ease;
}