@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Source+Serif+Pro&display=swap');

$body-color: #E5E3DF;
$menu-color: #F4F3F1;
$box-color: #D8D8D8;
$box-highlight-primary: #D0D4E0;
$box-highlight-secondary: #E6CFD2;
$link-underline-color: #2A5AEA;
$link-underline-color-hover: #EA2A61;
$graphic-color: #4C5980;
$copy-color: #535C76;
$headline-color: #000000;
$label-color: #000000;
$icon-color: #000000;

$body-font: 'Open Sans', sans-serif;
$headline-font: 'Source Serif Pro', serif;
$label-font: 'Source Serif Pro', serif;
$label-spacing: 0.5px;

$base-font-size: 16px;
$small-font-size: 81.25%; // 13px
$label-font-size: 87.5%; // 14px

$header-height: 16vh;
$footer-height: 12vh;
$content-height: 72vh;
$common-margin: 5vw;

$base-shadow: 0 2px 33px rgba(0, 0, 0, .15);
$large-rounding: 49px;

$midsize: 48em;
$largesize: 62em;
$xlsize: 75em;

:export {
  baseFontSize: $base-font-size;
  baseShadow: $base-shadow;
  bodyColor: $body-color;
  bodyFont: $body-font;
  boxColor: $box-color;
  boxHighlightPrimary: $box-highlight-primary;
  boxHighlightSecondary: $box-highlight-secondary;
  commonMargin: $common-margin;
  contentHeight: $content-height;
  copyColor: $copy-color;
  footerHeight: $footer-height;
  graphicColor: $graphic-color;
  headerHeight: $header-height;
  headlineColor: $headline-color;
  headlineFont: $headline-font;
  iconColor: $icon-color;
  labelColor: $label-color;
  labelFont: $label-font;
  labelFontSize: $label-font-size;
  labelSpacing: $label-spacing;
  largeRounding: $large-rounding;
  largesize: $largesize;
  linkUnderlineColor: $link-underline-color;
  linkUnderlineColorHover: $link-underline-color-hover;
  menuColor: $menu-color;
  midsize: $midsize;
  smallFontSize: $small-font-size;
  xlsize: $xlsize;
}

@mixin midsize {
  @media (min-width: $midsize) {
    @content;
  }
}

@mixin largesize {
  @media (min-width: $largesize) {
    @content;
  }
}

@mixin xlsize {
  @media (min-width: $xlsize) {
    @content;
  }
}

.labelStyle {
  font-family: $label-font;
  font-size: $label-font-size;
  color: $label-color;
  letter-spacing: $label-spacing;
}