@import '@/globals';

html {
  font-size: $base-font-size;
  line-height: 1.75;
}

body {
  background: $body-color;
  color: $copy-color;
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  color: $headline-color;
  font-family: $headline-font;
  font-weight: normal;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  line-height: 1;
}

a {
  text-decoration: none;
}

p {
  margin-top: 1.5em;
  margin-bottom: 0;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: transparent;
}